body {

    background-image: url('../Images/stone.jpg');
    margin: 0;

}

@keyframes Wisp_anim {

    0%{
        opacity: 1;
    }
    
    50%{
        opacity: 0;
    }

    100%{
        opacity: 1;
    }

}

@keyframes hover_anim {

    0%{color: blue;
    font-size: 20;
    padding-top: 10px;
    }

    50%{color: blue;
    font-size: 25;
    padding-top: 5px;

    }

    100%{color: blue;
        font-size: 20;
        padding-top: 10px;
        }
}

.topnav {
    background-image: url("../Images/wood.jpg");
    height: 50px;
    overflow: hidden;
  }
  

.topnav a {
    
    color: #f2f2f2;
    text-align: justify;
    text-decoration: none;
    padding-right: 15px;
    padding-top: 10px;
    font-size: 20px;
  }

.topnav b {


    text-align: center;
    color: blue;
    font-size: 35px;
    font-family: MedievalSharp;
    animation-name: Wisp_anim;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    margin-left: auto;
    margin-right: auto;    
    position: fixed; left: 47%; right: 50%;


}

.topnav a:hover {

    animation-name: hover_anim;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    color: blue;

}

.topnav a.active {

    padding-top: 10px;
    font-size: 21px;
    color: black;

}

.topright a {

    float: right;
    color: #f2f2f2;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    


}

.topright a:hover {

    animation-timing-function: ease-out;

}





.scroll {

    
    background-image: url("../Images/scroll.jpg");
    background-repeat: no-repeat;
    text-align: center;
    color: #333;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    height: 800px;
    margin-left: auto;
    margin-right: auto;
    background-position: center;
}

.scroll a {

    margin-top: 80px;
    font-family: MedievalSharp;
    font-size: 40px;
    text-align: center;
    color: rgb(0, 0, 0);
    padding-top: 60px;
    position: relative; top: 130px;

    
}


img {

    background-image: url("wisp.png") transparent;
    position:  relative; top: 140px;
    

}

  
  /* Add animation (fade in the popup) */
  @-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
  }
  
  @keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
  }