body {

    background-image: url("stone.jpg");
    margin: 0;

}

.LoginScroll {

    position: relative; top: 20px;
    background-image: url("../Images/scroll.jpg");
    background-repeat: no-repeat;
    height: 800px;
    background-position: center;
    text-align: center;



}


.LoginScroll a{

    color: black;
    font-size: 20px;

}
.LoginScroll input {


    width: 280px;
    border-width: 3px;
    border-color: black; 
    color: black;


    
}

.LoginScroll button {

    font-size: 40px;
    color: black;

}

.LoginScroll .LoginButton a:hover {
    
    animation-name: hover_anim;
    animation-duration: 2s;
    animation-iteration-count: infinite;

}

@keyframes Wisp_anim {

    0%{
        opacity: 1;
    }
    
    50%{
        opacity: 0;
    }

    100%{
        opacity: 1;
    }

}

@keyframes hover_anim {

    0%{color: blue;
    font-size: 20;
    padding-top: 10px;
    }

    50%{color: blue;
    font-size: 25;
    padding-top: 5px;

    }

    100%{color: blue;
        font-size: 20;
        padding-top: 10px;
        }
}

.topnav {
    background-image: url("../Images/wood.jpg");
    height: 50px;
    overflow: hidden;
  }
  

.topnav a {
    
    color: #f2f2f2;
    text-align: justify;
    text-decoration: none;
    padding-right: 15px;
    padding-top: 10px;
    font-size: 20px;
  }

.topnav b {


    text-align: justify;
    color: blue;
    font-size: 35px;
    animation-name: Wisp_anim;
    animation-duration: 5s;
    animation-iteration-count: infinite;  
    position: fixed; left: 47%; right: 50%;


}

.topnav a:hover {

    animation-name: hover_anim;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    color: blue;

}

.topnav a.active {

    padding-top: 10px;
    font-size: 21px;
    color: black;

}

.LoginScroll .circle {
    align-self: center;
    height: 23px;
    width: 23px;
    background-color: #555;
    color: black;
    border-radius: 50%;
    position: relative; left: 65%; top: 5px; 
    text-align: center;
  }

.LoginScroll .circle a {

    color: aqua;
    font-size: 18px;
    position: relative; right: 50%; left: 0%; bottom: 2px;

}

.LoginScroll .passclass {

    visibility: visible;

}

.LoginScroll .circle .Pass {

    visibility: hidden;
    width: 400px;
    height: 73px;
    background-color: gray;
    position: relative; left: 30px;
    color: rgb(218, 218, 218);
    text-align: left;

}

.LoginScroll .circle:hover .Pass{

    visibility: visible;
    animation-name: Apear;
    animation-duration: 1s;



}

.LoginScroll .circle .Pass a {

    visibility: hidden;
    color: aqua;
    font-size: 14px;
    border: black;
    border: 20px;
    position: relative; left: 17px;

}

.LoginScroll .circle:hover .Pass a{

    visibility: visible;
    animation-name: Apear_text;
    animation-duration: 1s

}

@keyframes Apear {

    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }


}

@keyframes Apear_text {

    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }

}

.LoginScroll button {

    size: 20px;
    border-radius: 40%;
    color: black;
    background-color: cornflowerblue;
    position: relative; top: 200px;

}

.LoginScroll .reasons {

    color: cornflowerblue;
    font-size: 15px;
    position: relative; top: 200px;

}
.LoginScroll .reasons a {

    color: red;
    position: relative; bottom: 40px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30px;
    
}